body {
    font-family: verdana;
    margin: 0px auto;
    width: 50em;
}

h1 {
    margin: 0;
    padding: 20px 0px 10px 0px;
}

h2 {
    margin: 0;
    padding: 20px 0px 10px 0px;
    font-size: 140%;
}

h3 {
    margin: 0;
    padding: 5px 0px;
}

a:link {
    color: #cc0000;
    text-decoration: none;
}

a:visited {
    color: #cc0000;
    text-decoration: none;
}

a:hover {
    color: #cc0000;
    text-decoration: underline;
}

a:active {
    color: #cc0000;
    text-decoration: none;
}

p {
    margin: 0px 0px 20px 0px;
    padding: 0;
}

.clear {
    clear: left;
}

#links {
    display: block;
    margin-left: 3px;
    padding-bottom: 20px;
}

#links a {
    margin-left: 6px;
    padding: 3px;
}

ul {
    margin: 0 0 0 10px;
    padding: 0 0 10px 20px;
}

ul.status {
    padding-bottom: 20px;
}

pre {
    background-color: #fffadd;
    border: 1px black dashed;
    padding: 25px;
    margin: 5px;
    width: 50em;
}

.completed {
    color: #00aa00;
    display: inline;
}

.inprogress {
    color: #0000aa;
    display: inline;
}

.yettostart {
    color: #8888aa;
    display: inline;
}
